switch (environment) {
    case "dev" :
        DB_URL_FLAG = null
        DB_USERNAME_FLAG = null
        DB_PASSWORD_FLAG = null
        DB_DRIVER_FLAG = null
        VALIDATE_FLAG = null
        MAX_FAIL_FLAG = null
        LAG_TIME_MIN_FLAG = null
        INPUT_DIR_FLAG = null
        PROCESSING_DIR_FLAG = null
        ARCHIVE_DIR_FLAG = null
        COLUMN_NAME_FORMAT_FLAG = null
        CSV_SEPARATOR_FLAG = null
        CSV_INITIAL_READ_SIZE_FLAG = null
        CSV_QUOTE_CHARACTER_FLAG = null
        CSV_ESCAPE_CHARACTER_FLAG = null
        CSV_STRICT_QUOTES_FLAG = null
        CSV_SKIP_LINES_FLAG = null
        CSV_IGNORE_LEADING_WHITESPACE_FLAG = null
        CSV_NULL_CHARACTER_FLAG = null
        EMAIL_FROM_FLAG = null
        EMAIL_TO_FLAG = "jstanley@unicon.net"
        EMAIL_HOST_FLAG = null
        EMAIL_PORT_FLAG = null
        EMAIL_USERNAME_FLAG = null
        EMAIL_PASSWORD_FLAG = null
        EMAIL_PROTOCOL_FLAG = null
        EMAIL_SSL_REQUIRED_FLAG = null
        break
    case "test":
        DB_URL_FLAG = null
        DB_USERNAME_FLAG = null
        DB_PASSWORD_FLAG = null
        DB_DRIVER_FLAG = null
        VALIDATE_FLAG = null
        MAX_FAIL_FLAG = null
        LAG_TIME_MIN_FLAG = null
        INPUT_DIR_FLAG = null
        PROCESSING_DIR_FLAG = null
        ARCHIVE_DIR_FLAG = null
        COLUMN_NAME_FORMAT_FLAG = null
        CSV_SEPARATOR_FLAG = null
        CSV_INITIAL_READ_SIZE_FLAG = null
        CSV_QUOTE_CHARACTER_FLAG = null
        CSV_ESCAPE_CHARACTER_FLAG = null
        CSV_STRICT_QUOTES_FLAG = null
        CSV_SKIP_LINES_FLAG = null
        CSV_IGNORE_LEADING_WHITESPACE_FLAG = null
        CSV_NULL_CHARACTER_FLAG = null
        EMAIL_FROM_FLAG = null
        EMAIL_TO_FLAG = "jstanley@unicon.net"
        EMAIL_HOST_FLAG = null
        EMAIL_PORT_FLAG = null
        EMAIL_USERNAME_FLAG = null
        EMAIL_PASSWORD_FLAG = null
        EMAIL_PROTOCOL_FLAG = null
        EMAIL_SSL_REQUIRED_FLAG = null
        break
    case "prod":
        DB_URL_FLAG = null
        DB_USERNAME_FLAG = null
        DB_PASSWORD_FLAG = null
        DB_DRIVER_FLAG = null
        VALIDATE_FLAG = null
        MAX_FAIL_FLAG = null
        LAG_TIME_MIN_FLAG = null
        INPUT_DIR_FLAG = null
        PROCESSING_DIR_FLAG = null
        ARCHIVE_DIR_FLAG = null
        COLUMN_NAME_FORMAT_FLAG = null
        CSV_SEPARATOR_FLAG = null
        CSV_INITIAL_READ_SIZE_FLAG = null
        CSV_QUOTE_CHARACTER_FLAG = null
        CSV_ESCAPE_CHARACTER_FLAG = null
        CSV_STRICT_QUOTES_FLAG = null
        CSV_SKIP_LINES_FLAG = null
        CSV_IGNORE_LEADING_WHITESPACE_FLAG = null
        CSV_NULL_CHARACTER_FLAG = null
        EMAIL_FROM_FLAG = null
        EMAIL_TO_FLAG = null
        EMAIL_HOST_FLAG = null
        EMAIL_PORT_FLAG = null
        EMAIL_USERNAME_FLAG = null
        EMAIL_PASSWORD_FLAG = null
        EMAIL_PROTOCOL_FLAG = null
        EMAIL_SSL_REQUIRED_FLAG = null
        break
    default:
        DB_URL_FLAG = null
        DB_USERNAME_FLAG = null
        DB_PASSWORD_FLAG = null
        DB_DRIVER_FLAG = null
        VALIDATE_FLAG = null
        MAX_FAIL_FLAG = null
        LAG_TIME_MIN_FLAG = null
        INPUT_DIR_FLAG = null
        PROCESSING_DIR_FLAG = null
        ARCHIVE_DIR_FLAG = null
        COLUMN_NAME_FORMAT_FLAG = null
        CSV_SEPARATOR_FLAG = null
        CSV_INITIAL_READ_SIZE_FLAG = null
        CSV_QUOTE_CHARACTER_FLAG = null
        CSV_ESCAPE_CHARACTER_FLAG = null
        CSV_STRICT_QUOTES_FLAG = null
        CSV_SKIP_LINES_FLAG = null
        CSV_IGNORE_LEADING_WHITESPACE_FLAG = null
        CSV_NULL_CHARACTER_FLAG = null
        EMAIL_FROM_FLAG = null
        EMAIL_TO_FLAG = null
        EMAIL_HOST_FLAG = null
        EMAIL_PORT_FLAG = null
        EMAIL_USERNAME_FLAG = null
        EMAIL_PASSWORD_FLAG = null
        EMAIL_PROTOCOL_FLAG = null
        EMAIL_SSL_REQUIRED_FLAG = null
}

